/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto/Roboto-Regular.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
* {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.relative {
  position: relative;
  padding-right: 10px;
}

.check-mark-menu-header::after {
  position: absolute;
  content: "";
  top: 7px;
  right: 0;
  width: 9px;
  height: 5px;
  background: url("../assets/icon/check-mark/bird-link.png") center/contain no-repeat;
}

.header {
  background: #F1ECDA;
}
.header__container {
  display: grid;
  grid-template: 1fr/0.3fr auto 0.3fr;
  align-items: center;
}
.header__menu {
  display: grid;
  grid-template: 1fr/auto 1fr;
}
.header__list {
  display: grid;
  grid-template: 1fr/auto auto auto auto auto;
  gap: 24px;
}
.header__link {
  color: #25201F;
  margin-right: 5px;
}
.header__logo {
  margin-right: 52px;
  margin-left: 15px;
}
.header__buttons {
  display: grid;
  grid-template: 1fr/1fr 1fr;
  align-items: center;
  margin-right: 15px;
}
.header__login {
  width: 48px;
}
.header__sing-up {
  width: 103px;
  height: 44px;
  border-radius: 20px;
  border: none;
  background: #D5E27B;
  color: #004822;
}

.main__girl {
  width: 100%;
  height: 100%;
  background: url("../assets/img/girl/girl-with-wheel.png") center/cover no-repeat;
}
.main__girl-container {
  display: grid;
  grid-template: 1fr/1fr 0.9fr;
  gap: 140px;
}
.main__keeping {
  padding-left: 30px;
}
.main__keeping-welcome {
  margin-top: 116px;
  margin-bottom: 17px;
}
.main__welcom-sabtitle {
  font-size: 24px;
  line-height: 28px;
  color: #F1ECDA;
}
.main__keeping-title {
  font-size: 64px;
  line-height: 54px;
  text-transform: uppercase;
  color: #F1ECDA;
  margin-bottom: 20px;
  font-weight: 700;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}
.main__keeping-ralays {
  font-size: 16px;
  line-height: 24px;
  color: #F1ECDA;
  margin-bottom: 44px;
}
.main__keeping-button button {
  width: 189px;
  height: 56px;
  font-size: 18px;
  line-height: 28px;
  border-radius: 20px;
  border: none;
  background: #D5E27B;
  color: #004822;
  color: #004822;
  text-align: center;
  margin-bottom: 80px;
}
.main__keeping-text {
  font-size: 12px;
  line-height: 14px;
  color: #F1ECDA;
  margin-bottom: 8px;
}
.main__bloks {
  display: grid;
  grid-template: 1fr/1fr 1fr;
  align-items: end;
}
.main__bloks-busnisses {
  background: #004822;
  padding: 20px 0 0 20px;
}
.main__bloks-busnisses-title {
  font-size: 19px;
  line-height: 26px;
  color: #D5E27B;
  margin-bottom: 8px;
}
.main__bloks-accountants {
  background: #D5E27B;
  padding: 20px 0 0 20px;
}
.main__bloks-accountants-title {
  font-size: 19px;
  line-height: 26px;
  color: #004822;
  padding-bottom: 8px;
}
.main__bloks-busnisses-text {
  font-size: 15px;
  line-height: 20px;
  color: #F1ECDA;
  margin-bottom: 20px;
}
.main__bloks-accountants-text {
  font-size: 15px;
  line-height: 20px;
  color: #25201F;
  margin-bottom: 14px;
}
.main_trustpilot-visa {
  display: flex;
  align-items: center;
  margin-left: 50px;
}
.main__trustpilot {
  background: #25201F;
}
.main__trustpilot-container {
  padding: 25px;
  align-items: center;
  display: grid;
  grid-template: 1fr/1fr 1fr 3fr;
  padding-left: 90px;
}
.main__trustpilot-fdic {
  display: flex;
  align-items: center;
}
.main__trustpilot-fdic-circle {
  position: relative;
  margin-right: 10px;
  width: 25px;
  height: 25px;
  background: #D5E27B;
  border: none;
  border-radius: 50px;
}
.main__trustpilot-fdic-circle::before {
  position: absolute;
  content: "";
  top: 7px;
  left: 7px;
  width: 10px;
  height: 9px;
  background: url("../assets/icon/check-mark/small-green-check.svg") center/contain no-repeat;
}
.main__trustpilot-visa-circle {
  position: relative;
  margin-right: 10px;
  width: 40px;
  height: 40px;
  background: #D5E27B;
  border: none;
  border-radius: 50px;
}
.main__trustpilot-visa-circle::before {
  position: absolute;
  content: "";
  top: 12px;
  left: 12px;
  width: 15px;
  height: 12px;
  background: url("../assets/icon/check-mark/small-green-check.svg") center/contain no-repeat;
}
.main__visa img {
  width: 100%;
  height: 100%;
}
.main__beyoung {
  background: #F1ECDA;
}
.main__beyoung-container {
  display: grid;
  grid-template: 1fr 2fr/1fr;
  text-align: center;
}
.main__beyong-title {
  font-size: 43px;
  line-height: 43px;
  text-transform: uppercase;
  color: #004822;
  margin-top: 97px;
  margin-bottom: 47px;
}
.main__beyoung-cards {
  display: grid;
  grid-template: 1fr 1fr/1fr 1fr 1fr;
  place-items: center;
  margin-bottom: 178px;
}
.main__beyoung-card {
  padding: 0 20px;
  place-items: center;
}
.main__beyoung-card-circle {
  position: relative;
  margin-right: 10px;
  width: 25px;
  height: 25px;
  background: #E6B6AF;
  border: none;
  border-radius: 50px;
  margin-bottom: 10px;
}
.main__beyoung-card-circle::before {
  position: absolute;
  content: "";
  top: 7px;
  left: 7px;
  width: 10px;
  height: 9px;
  background: url("../assets/icon/check-mark/small-green-check.svg") center/contain no-repeat;
}
.main__beyoung-card-text {
  font-size: 16px;
  line-height: 20px;
}
.main__see {
  background: #004822;
}
.main__see-container {
  display: grid;
  grid-template: auto auto auto auto auto auto/auto;
  color: #F1ECDA;
}
.main__see-title {
  font-size: 44px;
  line-height: 43px;
  text-transform: uppercase;
  color: #D5E27B;
  margin-top: 77px;
  margin-bottom: 44px;
  text-align: center;
}
.main__see-description {
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  margin-bottom: 49px;
}
.main__see-get-icome, .main__see-earmark-icome, .main__see-save-icome, .main__see-feel-icome {
  display: grid;
  grid-template: 1fr/1fr 1fr;
  align-items: center;
  position: relative;
  padding: 50px;
}
.main__see-get-icome::before, .main__see-earmark-icome::before, .main__see-save-icome::before, .main__see-feel-icome::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: #F1ECDA;
}
.main__see-get-text, .main__see-earmark-text, .main__see-save-text, .main__see-feel-text {
  display: grid;
  grid-template: 1fr/2fr 3fr;
}
.main__see-get-title, .main__see-earmark-title, .main__see-save-title, .main__see-feel-title {
  font-size: 38px;
  line-height: 34px;
  margin-bottom: 21px;
}
.main__see-get-upper-text, .main__see-earmark-upper-text, .main__see-save-upper-text, .main__see-feel-upper-text {
  font-size: 16px;
  line-height: 24px;
}
.main__see-get-number, .main__see-earmark-number, .main__see-save-number, .main__see-feel-number {
  font-size: 30px;
  line-height: 20px;
  width: 60px;
  height: 60px;
  border: 2px solid #D5E27B;
  text-align: center;
  place-content: center;
  margin-left: 100px;
}
.main__every img {
  width: 100%;
  height: 100%;
}
.main__what {
  background: #F1ECDA;
}
.main__what-container {
  display: grid;
  grid-template: 1fr 2fr/1fr;
  text-align: center;
}
.main__what-title {
  font-size: 46px;
  line-height: 43px;
  text-transform: uppercase;
  color: #004822;
  margin-top: 97px;
  margin-bottom: 100px;
}
.main__what-columns {
  display: grid;
  grid-template: 1fr/1fr 1fr 1fr 1fr;
  place-content: end;
}
.main__what-you-title, .main__what-delegate-title {
  font-size: 28px;
  line-height: 28px;
  color: #004822;
  margin-bottom: 60px;
  margin-left: 25px;
}
.main__what-bookkeeping-title, .main__what-tax-title {
  font-size: 28px;
  line-height: 28px;
  color: #F1ECDA;
  margin-bottom: 60px;
  margin-left: 25px;
}
.main__what-you-text, .main__what-delegate-text {
  font-size: 16px;
  line-height: 24pz;
  margin-bottom: 59px;
  margin-left: 25px;
}
.main__what-bookkeeping-text, .main__what-tax-text {
  font-size: 16px;
  line-height: 24pz;
  color: #F1ECDA;
  margin-bottom: 59px;
  margin-left: 25px;
  align-items: start;
}
.main__what-you {
  text-align: left;
  align-content: end;
  background: url("../assets/img/what/what-you.png") center/cover no-repeat;
}
.main__what-bookkeeping {
  text-align: left;
  align-content: end;
  background: url("../assets/img/what/booking.png") center/cover no-repeat;
}
.main__what-delegate {
  text-align: left;
  align-content: end;
  background: url("../assets/img/what/delegate.png") center/cover no-repeat;
}
.main__what-tax {
  text-align: left;
  align-content: end;
  background: url("../assets/img/what/tax.png") center/cover no-repeat;
}
.main__always img {
  width: 100%;
  height: 100%;
}
.main__money {
  background: #25201F;
}
.main__money-container {
  display: grid;
  grid-template: 1fr 1fr 1fr/1fr;
  text-align: center;
}
.main__money-title {
  font-size: 40px;
  line-height: 36px;
  color: #D5E27B;
  margin-top: 78px;
  margin-bottom: 43px;
}
.main__money-text {
  font-size: 24px;
  line-height: 31px;
  color: #F1ECDA;
  margin-bottom: 48px;
}
.main__money-options {
  display: grid;
  grid-template: 1fr/1fr 1fr 1fr;
  place-items: center;
  margin-bottom: 120px;
}
.main__money-option {
  place-items: center;
}
.main__money-option-circle {
  position: relative;
  margin-right: 10px;
  width: 25px;
  height: 25px;
  background: #D5E27B;
  border: none;
  border-radius: 50px;
  margin-bottom: 19px;
}
.main__money-option-circle::before {
  position: absolute;
  content: "";
  top: 7px;
  left: 7px;
  width: 10px;
  height: 9px;
  background: url("../assets/icon/check-mark/small-green-check.svg") center/contain no-repeat;
}
.main__money-option-text {
  font-size: 16px;
  line-height: 20px;
  color: #F1ECDA;
}
.main__kind {
  background: #F1ECDA;
}
.main__kind-container {
  display: grid;
  grid-template: 1fr 2fr 0.2fr/1fr;
  text-align: center;
}
.main__kind-title {
  font-size: 47px;
  line-height: 43px;
  color: #004822;
  text-transform: uppercase;
  margin-top: 97px;
  margin-bottom: 22px;
}
.main__kind-card {
  display: grid;
  grid-template: 1fr/1fr 1.5fr;
  margin: 40px;
}
.main__kind-body {
  background: #5A530C;
}
.main__kind-text {
  font-size: 20px;
  line-height: 24px;
  color: #F1ECDA;
  margin: 40px;
  text-align: left;
  margin-bottom: 120px;
}
.main__kind-biography {
  display: grid;
  grid-template: 1fr/1fr 1fr;
  align-items: center;
}
.main__kind-antony {
  display: grid;
  grid-template: 1fr/1fr 1.5fr;
}
.main__kind-avatar {
  margin-left: 20px;
}
.main__kind-trustpilot {
  margin-left: 40px;
}
.main__kind-name {
  font-size: 18px;
  line-height: 25px;
  color: #F1ECDA;
  text-align: left;
}
.main__kind-position {
  font-size: 16px;
  line-height: 19px;
  color: #F1ECDA;
  text-align: left;
}
.main__kind-line {
  width: 80%;
  height: 2px;
  background: #5A530C;
  justify-self: center;
}
.main__ready {
  background: #004822;
}
.main__ready-container {
  display: grid;
  grid-template: 1fr 1fr/1fr;
  text-align: center;
}
.main__ready-title {
  font-size: 46px;
  line-height: 43px;
  color: #F1ECDA;
  text-transform: uppercase;
  margin-top: 97px;
  margin-bottom: 42px;
}
.main__ready-button {
  border-radius: 20px;
  border: none;
  background: #D5E27B;
  color: #004822;
  font-size: 18px;
  line-height: 20px;
  width: 175px;
  height: 56px;
  margin-bottom: 110px;
  place-self: center;
}

.footer {
  background: #004822;
}
.footer-container {
  color: #F1ECDA;
  display: grid;
  grid-template: 3fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr/1fr;
}
.footer__menu {
  display: grid;
  grid-template: 1fr/1fr 1fr 1fr 1fr 1fr 1fr;
  padding: 30px;
}
.footer__logo {
  margin-left: 30px;
}
.footer__what-nav h5, .footer__resourses-nav h5, .footer__acountants-nav h5, .footer__company-nav h5, .footer__legal-nav h5 {
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 14px;
}
.footer__what-list, .footer__resourses-list, .footer__acountants-list, .footer__company-list, .footer__legal-list {
  font-size: 16px;
  line-height: 28px;
  margin-bottom: 14px;
}
.footer__line {
  width: 90%;
  height: 2px;
  background: #F1ECDA;
  place-self: center;
  margin-bottom: 24px;
}
.footer__social-icons a {
  margin-left: 50px;
  margin-bottom: 19px;
}
.footer__social-icons a:not(:first-child) {
  margin-left: 20px;
}
.footer__raley {
  font-size: 16px;
  line-height: 20px;
  margin-left: 50px;
  margin-bottom: 20px;
}
.footer__app-store a {
  margin-left: 50px;
  margin-bottom: 54px;
}
.footer__app-store a:not(:first-child) {
  margin-left: 20px;
}
.footer__financial {
  font-size: 9px;
  line-height: 25px;
  margin-left: 50px;
  margin-bottom: 34px;
}
.footer__payment {
  font-size: 14px;
  line-height: 25px;
  margin: 20px 20px 20px 50px;
}/*# sourceMappingURL=style.css.map */