
@use '../base/variables' as *;
@use '../base/mixin' as *;

.footer {

            background: $color-for-text-green;

            &-container{
                  color: $color-for-text-white;
                  display: grid;
                  grid-template: 3fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr / 1fr;
            }
      
		&__menu {
                  display: grid;
                  grid-template: 1fr / 1fr 1fr 1fr 1fr 1fr 1fr;
                  padding: 30px;

                  @include respond($bp-md){
                        grid-template: 1fr  1fr / 1fr 1fr  1fr;
                  }

                  @include respond($bp-md){
                        grid-template: 1fr  1fr  1fr 1fr  1fr 1fr / 1fr;
                        text-align: center;
                  }
		}

            &__logo{
                  margin-left: 30px;
            }

            &__what-nav h5, &__resourses-nav h5, &__acountants-nav h5, &__company-nav h5, &__legal-nav h5 {
                  @include size-height(20px, 24px);
                  margin-bottom: 14px;

                  @include respond($bp-lg){
                        @include size-height(16px , 18px);
                  }
            }

            &__what-list, &__resourses-list , &__acountants-list , &__company-list , &__legal-list  {
                  @include size-height(16px, 28px);
                  margin-bottom: 14px;

                  @include respond($bp-lg){
                        @include size-height(14px , 16px);
                  }
            }

            &__what-list-link {
                  color: $color-for-text-white;
            }

		&__line {
                  width: 90%;
                  height: 2px;
                  background: $color-for-text-white;
                  place-self: center;
                  margin-bottom: 24px;
		}

		&__social-icons a{
                  margin-left: 50px;
                  margin-bottom: 19px;
                  &:not(:first-child){
                        margin-left: 20px;
                  }
		}

		&__raley {
                  @include size-height(16px, 20px);
                  margin-left: 50px;
                  margin-bottom: 20px;
		}

		&__app-store a{
                  margin-left: 50px;
                  margin-bottom: 54px;
                  &:not(:first-child){
                        margin-left: 20px;
                  }

		}

		&__financial {
                  @include size-height(9px, 25px);
                  margin-left: 50px;
                  margin-bottom: 34px;
		}

		&__payment {
                  @include size-height(14px, 25px);
                  margin: 20px 20px 20px 50px;
		}
}
