
@use '../base/variables' as *;
@use '../base/mixin' as *;

.header {
        background: $color-for-text-white;

		&__container {
                  display: grid;
                  grid-template: 1fr / 0.3fr auto 0.3fr;
                  align-items: center;

                  @include respond($bp-md){
                        grid-template: 1fr / 0.3fr auto;
                  }
		}

            &__container-burger{
                  width: 100%;
                  height: 100%;
                  position: fixed;
                  grid-template-columns:   1fr;
                  text-align: center;
                  place-items: center;
                  background-color: $bg-color-for-button;
                  margin-top: 100px;
                  overflow: hidden;
            }

		&__menu {
                  display: grid;
                  grid-template: 1fr / auto 1fr ;

                  
                  @include respond($bp-md){
                        display: none;
                  }
		}

            &__menu-burger{
                  display: grid;
                  grid-template-columns: 1fr;

                  //z-index: 100;
            }

            &__burger-menu-active{
                  position: fixed;
                  top: 10px;
                  right: 0;
            }

            &__burger{
                  display: none;

                  @include respond($bp-md){
                        display: block;
                        position: relative;
                        margin: 0 10px;

                        &::before,
                        &::after, 
                        span{
                              position: absolute;
                              content: '';
                              top: 0;
                              right: 0;
                              width: 40px;
                              height: 2px;
                              background: $color-for-text-green;
                        };

                        &::after{
                              top: -7px;

                        }
                        &::before{
                              top: 7px;
                        }
                  }
            }

            &__burger-active{
                  position: absolute;
                  top:30px;
                  right: 0;
                  
                  &::before,
                  &::after, span {
                  transition: 0.3s;
                  
                  }

                  &::before {
                        //transform: translate(-50%, -50%) rotate(45deg);
                        transform: rotate(45deg) translate(-1px, -7px);
                  }

                  span{
                        transform: scale(0);
                  }

                  &::after {
                        //transform: translate(-50%, -50%) rotate(-45deg);
                        transform: rotate(-45deg) translate(-4px, 8px);
                  }
                  
            }

		&__list {
                  display: grid;
                  grid-template: 1fr / auto auto auto auto auto;
                  gap: 24px;

                  @include respond($bp-lg){
                        gap: 0;
                  }
		}

            &__list-burger{
                  grid-template-columns: 1fr;
                  gap: 50px;
            }

            &__link{
                  color: $color-for-text-dark;
                  margin-right: 5px;
            }

            &__logo{
                width: 85px;
                height: 64px;
                  margin-right: 52px;
                  margin-left: 15px;

                  @include respond($bp-xl) {
                        margin-right: 10px;
                  }
            }

            &__logo-burger{
                  display: none;
            }

		&__buttons {
                  display: grid;
                  grid-template: 1fr / 1fr 1fr;
                  align-items: center;
                  margin-right: 15px;

                  @include respond($bp-md){
                        display: none;
                  }
		}

		&__login {
                  width: 48px;
		}

		&__sing-up {
                  width: 103px;
                  height: 44px;
                  @include border-radius-bg($bg-color-for-button);
		}
}



