
@use '../base/variables' as *;

.relative {
      position: relative;
      padding-right: 10px;
}

//for menu icon in header menu
.check-mark-menu-header {
  position: relative;
  display: inline-block;
  padding-right: 20px; /* місце під галочку */
  text-decoration: none;
  color: #000;
}

.check-mark-menu-header::after {
      position: absolute;
      content: '';
      top: 7px;
      right: 0;
      width: 9px;
      height: 5px;
      background: url('../assets/icon/check-mark/bird-link.png') center / contain no-repeat;
}

.check-mark-menu-header span {
  display: inline-block;
  transition: transform 0.3s ease;
}

.check-mark-menu-header:hover span {
  transform: scale(0.9);
}
