
$bg-color-for-button:#D5E27B; // for text also
$color-for-text-dark:#25201F; // for bg also
$color-for-text-white: #F1ECDA; // for bg also
$bg-color-for-circle:#E6B6AF;
$color-for-text-green:#004822;
$bg-color-for-antonny-box:#5A530C;
$bg-color-for-trustpilot:#25201F;

$roboto: 'Roboto', sans-serif;

$container-xs: 320px;
$container-sm: 566px;
$container-md: 768px;
$container-lg: 960px;
$container-xl: 1140px;
$container-xxl: 1320px;

$bp-xs: 320;        // мобільні
$bp-sm: 576px;    // телефони
$bp-md: 768px;    // планшети
$bp-lg: 992px;    // ноутбуки
$bp-xl: 1200px;   // десктопи
$bp-xxl: 1400px;  // великі екрани
