$bg-color-for-button:#D5E27B; // for text also
$color-for-text-dark:#25201F; // for bg also
$color-for-text-white: #F1ECDA; // for bg also
$bg-color-for-circle:#E6B6AF;
$color-for-text-green:#004822;
$bg-color-for-antonny-box:#5A530C;
$bg-color-for-trustpilot:#25201F;