
@import '../fonts/roboto';

body{
      font-family: $roboto;
}

a{
      text-decoration: none;
      cursor: pointer;
      display: inline-block; /* обов’язково для transform */
      transition: transform 0.3s ease;
}

a:hover{
      transform: scale(0.9);
}

button{
      transition: background 0.6s ease, transform 2.5s ease;
      transition: transform 0.2s ease;
}

button:hover {
      box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
      background: $color-for-text-green;
      color: $bg-color-for-button;
}

button:active {
      transform: scale(0.9);
}

.container{
    width: 1200px;
    margin: 0 auto;
}

.relative {
      position: relative;
      padding-right: 10px;
}

//for menu icon in header menu
.check-mark-menu-header {
  position: relative;
  display: inline-block;
  padding-right: 20px; /* місце під галочку */
  text-decoration: none;
  color: #000;
}

.check-mark-menu-header::after {
      position: absolute;
      content: '';
      top: 7px;
      right: 0;
      width: 9px;
      height: 5px;
      background: url('../assets/icon/check-mark/bird-link.png') center / contain no-repeat;
}

.check-mark-menu-header span {
  display: inline-block;
  transition: transform 0.3s ease;
}

.check-mark-menu-header:hover span {
  transform: scale(0.9);
}
